@import "../../styles/variables.scss";

.bonus {
  width: 335px;
  display: flex;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 18px;
  padding-top: 18px;
  justify-content: space-between;
  background-color: $color-white;

  &__amount {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 12px;
  }

  &__date {
    color: $color-font-grey;
  }

  &__fire {
    display: flex;
    padding-bottom: 19px;
  }
}
